body {
    padding: 0;
    margin: 0;
}
.container {
    padding-top: 3%;
}
.smart > input {
    width: 100%;
    border: 1px solid rgba(45, 45, 45, 0.498);
    border-radius: 5px;
    padding-left: 4%;
    height: 3vh;
}
.quatre {
    background-color: rgba(53, 65, 56, 0.173);
    font-size: 20px;
    width: 55%;
    padding: 2% 3% 2% 3%;
    border-radius: 5px;
}
.disabled > input {
    width: 18%;
    height: 45%;
    display: inline-block;
    margin-top: 5%;
}
.disabled > p {
    font-size: 18px;
    display: inline-block;
    margin-left: 10%;
    margin-top: 3%;
}
.row-galaxy {
    height: 8vh;
}
.row-galaxy p {
    margin-top: 8%;
}
.input-galaxy > input {
    width: 100%;
    border: 1px solid rgba(45, 45, 45, 0.498);
    border-radius: 5px;
    padding-left: 1%;
    height: 6.3vh;
}
.input-galaxy > input::placeholder {
    position: relative;
    top: -19%;
}
.input-slvb > input {
    width: 100%;
    border: 1px solid rgba(45, 45, 45, 0.498);
    border-radius: 5px;
    padding-left: 1%;
    height: 4vh;
}
/* ------------------------------ second part ------------------------------ */

.second-part {
    /* background-color: red; */
}
.second-part .table-icon {
    margin-top: 3%;
}
.second-part .table-icon > div {
    margin-top: 10%;
}
.second-part > .row > .col > table {
    width: 105%;
    margin-top: 2%;
    margin-left: -5%;
}
.second-part > .row > .col > table th {
    color: gray;
    font-weight:  600;
}
.second-part > .row > .col > table td {
    border-right: 1px solid rgb(174, 174, 174);
    border-top: 1px solid gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(59, 59, 59);
}
.second-part > .row > .col > table tr {
    height: 3vh;
}
.second-part > .row > .col > .separator-line {
    border: 2px solid gray;
    width: 80%;
    margin-left: -5%;
}
.second-part .check-default {
    margin-left: 36%;
}
.second-part .check-default input  {
    margin-left: 5%;
    width: 20px;
    height: 2.2vh;
    border-radius: 0;
}
.second-part .cent-quatre-vingt {
    float: right;
}